@media (max-width: 1366px) {
  .predlog .black-plashk {
    margin: 60px auto;
    width: 100%;
  }
}
@media (max-width: 992px) {
  .top-nav {
    display: none;
  }
  .help-item {
    text-align: center;
  }
  .about .about-right {
    margin-left: 25px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .about-left {
    height: 300px;
  }
  .about-right h3 {
    text-align: center;
  }
  .about-right .row {
    text-align: center;
  }
  footer {
    text-align: center;
  }
  footer .foot-menu {
    margin-top: 20px;
  }
  footer .foot-contact ul {
    text-align: center;
  }
  .header-content h1 {
    font-size: 28px;
  }
  .header-2-columm-nav ul {
    text-align: right;
  }
  .special .special-black-plashk h2,
  .predlog .black-plashk h3 {
    font-size: 25px;
  }
  .special .special-black-plashk,
  .predlog .black-plashk {
    margin: 30px 0;
  }
}
