@import "nib"
color-blue = #3b8cbd
body
  font-family: 'Gotham Pro';
.navbar-nav .nav-link
  font-size: 14px
.header-2-columm-nav
  display: -ms-flexbox!important;
  display: flex!important;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  flex-direction: column;
.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link
  color color-blue
.navbar-dark .navbar-nav .nav-link
  color white
  font-weight: bold;
.navbar-dark .navbar-nav.top-nav .nav-link
  color white
  font-weight: 300;
  font-size 13px
.navbar-nav.top-nav
  border-bottom 2px solid color-blue
header
  background: url("../img/header.png") no-repeat
  -webkit-background-size: cover
  background-size: cover
  min-height: 500px;
.navbar-brand
  img
    max-height: 65px;
.header-content
  h1
    font-weight: 900;
    color color-blue
    font-size: 36px
  .header-content-text
    p
      color white
      font-weight 100
      font-size: 14px
    .header-content-text-service
      p
        font-weight: bold
        font-size: 18px
      ul
        padding-left: 20px;
        list-style none
        li
          color: white
          position: relative
          font-weight: 100
          &:after
            content '●'
            position: absolute;
            left: -20px;
            color color-blue
.header-content-form
  form
    padding: 30px;
    border-radius: 15px;
    text-align: center
    margin-bottom 20px
    &.blue-bg
      background: rgba(color-blue, 0.44)
    p
      color white
      font-weight: bold
      font-size: 18px
.btn-custom
  background: color-blue
  border-radius 20px
  color white
  font-weight: bold
  padding: 6px 30px;
.section-head {
  color black
  text-align: center
  font-weight: 700
  margin 30px 0
  text-transform uppercase
}
.poluch-item
  display flex
  margin-bottom 30px
  img
    max-height: 70px;
    margin-right: 20px;
  p
    font-weight: bold;
    font-size: 18px;
    margin: 0;
    align-self: center;
    span
      color color-blue
.special
  background: url("../img/specbg.png") no-repeat
  background-size: cover
  .special-black-plashk
    background: rgba(black, 0.69);
    padding: 15px;
    margin: 30px;
    border-radius: 20px;
    h2
      color color-blue
      text-transform uppercase
      margin: 10px;
    p
      color white
      font-weight: bold
      font-size: 22px;
    .bp-2
      font-weight: 500
      font-size: 20px
  .special-blue-plashk
    padding 15px
    display: flex;
    img
      max-height: 65px;
    p
      color: white;
      font-size: 14px;
      margin-bottom 0
      align-self: center;
      margin-left: 10px;
  .blue-bg
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
.blue-bg
  background: rgba(color-blue, 0.69)
.black-bg
  background: rgba(black, 0.69)
.cashback
  background: url("../img/cashback.png") no-repeat
  background-size: cover
  .section-head
    text-transform uppercase
    span
      color color-blue
      font-size: 2.6rem
  .col-md-8
    p
      font-size: 24px
      font-weight: 500

.predlog
  .predlog-item-1
    background: url("../img/pr1.png") no-repeat
    background-size: cover
  .predlog-item-2
    background: url("../img/pr2.png") no-repeat
    background-size: cover
  .predlog-item-3
    background: url("../img/pr3.png") no-repeat
    background-size: cover
  .predlog-item-4
    background: url("../img/pr4.png") no-repeat
    background-size: cover
  .predlog-item-5
    background: url("../img/pr5.png") no-repeat
    background-size: cover
  .black-plashk
    margin: 60px 30px;
    padding: 15px 30px;
    border-radius 10px
    p
      color white
      line-height: 2rem;
      font-size: 1.1rem;
    ul
      list-style: none;
      padding-left 0
      li
        color white
        line-height: 2rem;
        font-size: 1.1rem;
    h3
      color white
      text-align: center
      font-weight: bold
      padding 20px 0px
      font-size: 2.2rem
.help-item
  img
    max-width 100%
  p
    font-weight: bold
    font-style: italic;
    font-size: 20px
.col-md-five
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
@media (min-width: 768px)
  .col-md-five
    flex: 0 0 20%;
    max-width: 20%;
.vigoda
  padding 30px;
  background: url("../img/vigoda.png") no-repeat
  background-size: cover
  h2
    color: white
  .regular .card
    margin 0 15px
    margin-bottom 20px
  .card-img
    max-height: 211px;
    overflow: hidden;
  .card-body
    .card-text
      font-weight: 500;
      font-style: italic;
    ul
      list-style none
      padding-left 0
      li
        font-weight: 500;
        font-style: italic;
.slick-prev
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  &:before
    background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E")
.slick-prev:before, .slick-next:before
  color transparent
.slick-next
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  &:before
    background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E")
.slick-prev, .slick-next
  width: 40px;
  height: 60px;
  background: rgba(black, 0.6)
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
  background: black;
}
.about
  .about-left
    background: url("../img/about.png")
    background-position: bottom;
    background-size: cover
  .about-right
    margin-left 25px
    padding-top 150px
    padding-bottom 150px
    img
      max-height 50px
    h3
      span
        color color-blue
        font-weight: bold
.reviews
  background: url("../img/щеип.png") no-repeat
  background-size: cover
  padding 30px 0
  .slick-prev, .slick-next
    background: transparent
  .black-bg
    border-radius 10px
  .rev-item
    margin 0 15px
  .rev-content
    color white
    margin-top 15px
  .rev-img-text
    display: flex;
    justify-content center
    img
      max-width 100px
      max-height 100px
    h5
      margin-left 20px
      color white
      align-self center
footer
  background: #31343a
  padding 20px 0
  .foot-menu
    ul
      list-style none
      padding-left 0
      a
        color white
        font-weight: bold
  .foot-contact
    ul
      list-style none
      padding-left 0
      text-align: right
      li
        color white
        font-weight: 100
        font-size: 12px