body {
  font-family: 'Gilroy';
  margin: 0;
}
.navbar-nav .nav-link {
  font-size: 33px;
  text-decoration: none;
}
ul{
    list-style-type: none;
}
nav.navbar.navbar-expand-lg.navbar-dark{
    display: inline-block;
    width: 100%;
	padding: 20px 0px;
    box-shadow: 0px 0px 9px 0px #242424;
	background: #fff;
	    z-index: 1;
    position: relative;
}
li.nav-item {
    display: inline-block;
    float: left;
    padding: 0 20px;
}
.container{
    max-width: 1325px;
    display: block;
    margin: 0 auto;
}
.header-content.mt-5{
    padding: 100px 0 313px 0;
}
.header-2-columm-nav {
  display: -ms-flexbox !important;
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: box !important;
  display: flex !important;
  -ms-flex-preferred-size: auto;
  -webkit-flex-basis: auto;
  flex-basis: auto;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link {
  color: #3b8cbd;
}
.navbar-dark .navbar-nav .nav-link {
  color: #000;
  font-weight:lighter;
}
a.navbar-brand{
    display: inline-block;
    float: left;
    width: 30%;
}
#navbarSupportedContent{
    display: inline-block;
    float: left;
    width: 70%;
}
.navbar-toggler{
    display: none;
}
.purpul {
  color: #96a9f8;
}
.navbar-dark .navbar-nav.top-nav .nav-link {
  color: #fff;
  font-weight: 300;
  font-size: 13px;
}
.navbar-nav.top-nav {
  border-bottom: 2px solid #3b8cbd;
}
.header-content-form{
    padding: 30px 40px;
}
.first{
  background: url("../img/fon-main.jpg") no-repeat;
  -webkit-background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  position: relative;
    margin-top: -5px;
}

.navbar-brand img {
  max-height: 65px;
}
.header-content h1 {
    font-weight: 900;
    color: #242424;
    font-size: 66px;
	margin:0;
}

header{
    display: inline-block;
    width: 100%;
}
.header-content .header-content-text p {
  color: #242424;
  font-weight: 500;
  font-size: 33px;
}
p.subTitile{
    color: #242424;
    font-weight: 100;
    font-size: 33px;
    margin: 0;
    padding-top: 20px;
}
.header-content .header-content-text .header-content-text-service p {
 color: #242424;
    font-weight: 100;
    font-size: 30px;
	line-height: 48px;
}
.header-content .header-content-text .header-content-text-service ul {
  padding-left: 20px;
  list-style: none;
}
.header-content .header-content-text .header-content-text-service ul li {
  color: #fff;
  position: relative;
  font-weight: 100;
}
.header-content .header-content-text .header-content-text-service ul li:after {
  content: '●';
  position: absolute;
  left: -20px;
  color: #3b8cbd;
}
.form-group {
    position: relative;
    border-bottom: 1px solid #f4f2f2;
	margin-bottom: 20px;
}
.invalid-feedback.if1, .invalid-feedback.if2, .invalid-feedback.if3{
  display:none;
}
.form-group p img{
    padding-right: 10px;
    float: left;
}
.form-control{
    border: none;
    font-size: 18px;
    font-weight: bold;
    font-family: Gotham Pro;
    color: #242424;
}
#fieldColor::-webkit-input-placeholder { color:#242424; }
.header-content-form form {
  padding: 30px 84px;
  border-radius: 0;
  text-align: left;
  margin-bottom: 20px;
}
.btn-form {
    background: #96a9f8;
    border-radius: 30px;
    color: #fff;
    font-weight: bold;
    padding: 20px 30px;
    text-transform: uppercase;
    font-size: 14px;
    font-family: Gotham Pro;
    border: none;
    box-shadow: 0px 0px 20px 0px #96a9f8;
	margin-top: 10px;
}
.btn-custom:hover{
    background: #69b9fc;
    box-shadow: 0px 0px 20px 0px #69b9fc;
}
button.btn.btn-form.btn_submit:hover{
    background: #69b9fc;
    box-shadow: 0px 0px 20px 0px #69b9fc;
}
.header-content-form form.blue-bg {
  background: #fff;
  box-shadow: 0px 0px 29px #c7c7c7;
}
.header-content-form form p {
  color: #aba8a8;
    font-weight: 100;
    font-size: 18px;
    margin: 10px 0;
}
.btn-custom {
    background: #96a9f8;
    border-radius: 20px;
    color: #fff;
    font-weight: bold;
    padding: 13px 65px;
    text-transform: uppercase;
    font-size: 14px;
    font-family: Gotham Pro;
    border: none;
    box-shadow: 0px 0px 20px 0px #96a9f8;
}
/* Базовый контейнер табов */
.tabs {
	min-width: 100%;
	padding: 0px;
	margin: 0 auto;
}
/* Стили секций с содержанием */
.tabs>section {
	display: none;
	padding: 15px 0;
	background: #fff;
	    border-top: 4px solid #dddbdb;
}
.tabs>section>p {
	margin: 0 0 5px;
	line-height: 1.5;
	color: #383838;
	/* прикрутим анимацию */
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}
/* Описываем анимацию свойства opacity */
 
@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
/* Прячем чекбоксы */
.tabs>input {
	display: none;
	position: absolute;
}
/* Стили переключателей вкладок (табов) */
.tabs>label {
	display: inline-block;
	padding: 30px 35px;
	font-weight: 600;
	text-align: center;
	font-size: 36px;
	
}
.tabs label img{
	    margin-bottom: -24px;
}
 .col-md-4 {
    display: inline-block;
    padding: 0;
    float: left;
}
.tabs>label:hover {
	color: #37bdb2;
	cursor: pointer;
}
/* Стили для активной вкладки */
.tabs>input:checked+label {
	color: #37bdb2;
    background: #fff;
    font-size: 36px;
    box-shadow: 1px 1px 30px 1px #b0adad;
    z-index: 1;
    position: relative;
    border-radius: 5px;
}
/* Активация секций с помощью псевдокласса :checked */
#tab1:checked~#content-tab1, #tab2:checked~#content-tab2, #tab3:checked~#content-tab3, #tab4:checked~#content-tab4 {
	display: block;
}
/* Убираем текст с переключателей 
* и оставляем иконки на малых экранах
*/
 
@media screen and (max-width: 680px) {
	.tabs>label {
		font-size: 0;
	}
	.tabs>label:before {
		margin: 0;
		font-size: 18px;
	}
}
/* Изменяем внутренние отступы 
*  переключателей для малых экранов
*/
@media screen and (max-width: 400px) {
	.tabs>label {
		padding: 15px;
	}
}
.section-head {
  color: #000;
  text-align: center;
  font-weight: 700;
  padding: 20px 0;
  font-size:45px;
}
.section-head1 {
    color: #fff;
    text-align: center;
    font-weight: 700;
    padding: 20px 0;
    font-size: 45px;
    width: 100%;
}
p.tab-title{
    font-size: 36px;
    font-weight: bold;
    padding: 20px 0;
}
.services-item {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
.services-item img {
  margin-right: 20px;
}
.services-item p {
  font-weight: bold;
  font-size: 18px;
  margin: 0;
  -webkit-align-self: center;
  align-self: center;
  -ms-flex-item-align: center;
}
.btn-form1 {
    background: #96a9f8;
    border-radius: 30px;
    color: #fff;
    font-weight: bold;
    padding: 20px 30px;
    text-transform: uppercase;
    font-size: 14px;
    font-family: Gotham Pro;
    border: none;
        box-shadow: 0px 0px 95px 0px #4a4a4a82;
    margin: 30px 0px;
}
.services-item p span {
  color: #3b8cbd;
}
#services{
    margin-top: -171px;
    z-index: 1;
    position: relative;
	    padding-bottom: 40px;
}
.special {
  background: url("../img/fon1.jpg") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  padding-bottom: 61px;
}
.special-item img {
    max-width: 100%;
}

.special .special-black-plashk h2 {
  color: #3b8cbd;
  text-transform: uppercase;
  margin: 10px;
}
.special .special-black-plashk p {
  color: #fff;
    font-weight: lighter;
    font-size: 24px;
    line-height: 36px;
    margin: 0;
}
p.service-title{
    padding-bottom: 30px;
}
.special .special-black-plashk .bp-2 {
  font-weight: 500;
  font-size: 20px;
}
.special .special-blue-plashk {
  padding: 15px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
.special .special-blue-plashk img {
  max-height: 65px;
}
.special .special-blue-plashk p {
  color: #fff;
  font-size: 14px;
  margin-bottom: 0;
  -webkit-align-self: center;
  align-self: center;
  -ms-flex-item-align: center;
  margin-left: 10px;
}
.special .blue-bg {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.blue-bg {
  background: rgba(59,140,189,0.69);
}
.black-bg {
  background: rgba(0,0,0,0.69);
}
.cashback {
  background: url("../img/cashback.png") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.cashback .section-head {
  text-transform: uppercase;
}
.cashback .section-head span {
  color: #3b8cbd;
  font-size: 2.6rem;
}
.cashback .col-md-8 p {
  font-size: 24px;
  font-weight: 500;
}
.predlog .predlog-item-1 {
  background: url("../img/pr1.png") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.predlog .predlog-item-2 {
  background: url("../img/pr2.png") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.predlog .predlog-item-3 {
  background: url("../img/pr3.png") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.predlog .predlog-item-4 {
  background: url("../img/pr4.png") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.predlog .predlog-item-5 {
  background: url("../img/pr5.png") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.predlog .black-plashk {
  margin: 60px 30px;
  padding: 15px 30px;
  border-radius: 10px;
}
.predlog .black-plashk p {
  color: #fff;
  line-height: 2rem;
  font-size: 1.1rem;
}
.predlog .black-plashk ul {
  list-style: none;
  padding-left: 0;
}
.predlog .black-plashk ul li {
  color: #fff;
  line-height: 2rem;
  font-size: 1.1rem;
}
.predlog .black-plashk h3 {
  color: #fff;
  text-align: center;
  font-weight: bold;
  padding: 20px 0px;
  font-size: 2.2rem;
}
.help-item img {
  max-width: 100%;
}
.help-item p {
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
}
.col-md-five {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 768px) {
  .col-md-five {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 0 0 20%;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}
.price {
     padding-bottom: 60px;
  background: url("../img/fon2.jpg") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  display: inline-block;
    width: 100%;
}
.price-card{
  width: 100%;
  width: 100%;
    box-shadow: 0px 5px 12px #2424242b;
    display: inline-block;
	margin-top: -155px;
  }
p.card-title{
    font-size: 30px;
    font-weight: 600;
}
.pr{
    font-size: 46px;
    font-weight: 600;
    margin: 20px 0;
}  
  .card-body{
padding: 0 30px 30px 30px;
  } 
  .card{
    width: 25%;
    display: inline-block;
    float: left;
	box-shadow: 7px 0px 15px #24242447;
    background: #fff;
}
img.fon-pils{
    float: right;
    z-index: 1;
    position: relative;
}
#shadow-right{
	box-shadow: inset 7px 0px 11px #24242421;
}

.price .regular .card {
  margin: 0 15px;
  margin-bottom: 20px;
}
.price .card-img {
  max-height: 211px;
  overflow: hidden;
}
.price .card-body .card-text {
  font-size: 20px;
}
.price .card-body ul {
  list-style: none;
  padding-left: 0;
}
#priceButton{
    width: 100%;
}
.price .card-body ul li {
  font-size: 18px;
    padding: 15px 0;
    border-top: 1px solid #e0dcdc;
}
.last{
    border-bottom: 1px solid #e0dcdc;
	}
	#white{
	box-shadow:none; 
}
.slick-prev {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
.slick-prev:before {
  background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
.slick-prev:before,
.slick-next:before {
  color: transparent;
}
.slick-next {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
.slick-next:before {
  background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
.slick-prev,
.slick-next {
  width: 40px;
  height: 60px;
  background: rgba(0,0,0,0.6);
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  background: #000;
}
.about .about-left {
  background: url("../img/about.png");
  background-position: bottom;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.about .about-right {
  margin-left: 25px;
  padding-top: 150px;
  padding-bottom: 150px;
}
.about .about-right img {
  max-height: 50px;
}
.about .about-right h3 span {
  color: #3b8cbd;
  font-weight: bold;
}
.reviews {
  background: url("../img/fon3.jpg") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
      padding: 60px 0 150px 0;
}
.reviews .slick-prev,
.reviews .slick-next {
  background: transparent;
}
.reviews .black-bg {
  border-radius: 10px;
}
.reviews .rev-item {
  margin: 0 15px;
  background:#fff;
  padding: 20px;
	  
}
.reviews .rev-content {
    color: #242424;
    margin-top: 15px;
    line-height: 30px;
    font-size: 19px;
}
p.review-name{
    font-size: 24px;
    font-weight: 600;
    margin: 10px 0;
}

.reviews .rev-img-text img {
  max-width: 166px;
  max-height: 166px;
  border-radius: 50%;
  float:left;
  margin-right: 20px;
}
.reviews .rev-img-text h5 {
  margin-left: 20px;
  color: #fff;
  -webkit-align-self: center;
  align-self: center;
  -ms-flex-item-align: center;
}
footer {
  background: #fff;
  padding:40px 0;
}
footer .foot-menu ul {
  list-style: none;
  padding-left: 0;
}
footer .foot-menu {
  text-align:center;
}
.social {
  float: right;
}
footer .foot-menu ul a {
  color: #242424;
    font-weight: lighter;
    text-decoration: none;
    line-height: 40px;
    font-size: 30px;
}
footer .foot-contact ul {
  list-style: none;
  padding-left: 0;
  text-align: right;
}
footer .foot-contact ul li {
  color: #242424;
  font-weight: 100;
  font-size: 30px;
}
#successfullyModal{
    display: none;
}
.footer-img{
       padding-top: 20px;
}
.copyright {
    text-align: center;
    padding: 1px 0;
    background: #242424;
    font-size: 24px;
    color: #e0e0e0;
}
